VIRTUAL_PORT=8081

MYSQL_ROOT_PASSWORD=somewordpress
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress

WORDPRESS_DEBUG=true
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=${MYSQL_USER}
WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD}
WORDPRESS_DB_NAME=${MYSQL_DATABASE}
WORDPRESS_USERNAME=admin
WORDPRESS_PASSWORD=password
WORDPRESS_CONFIG_EXTRA=define('WP_ALLOW_MULTISITE', true );

# used by SSL proxy, only needed on production server
# see https://github.com/evertramos/nginx-proxy-automation
# USE_EXTERNAL_NETWORK=true
# VIRTUAL_HOST=pivo.incomaker.com
# LETSENCRYPT_HOST=${VIRTUAL_HOST}
# LETSENCRYPT_EMAIL=info@incomaker.com
# NETWORK=proxy
